

<div id="masonry-container" class= "has-gutters" class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
  		Posts
     	<%=image_tag("tunnel.JPG", alt: "Teddy")%>
  </div>

  <div class="box col2">
    <p>
    	Interests
    	<%=image_tag("dbctags.JPG", alt: "Teddy")%>
    </p>
  </div>

  <div class="box col3">
    <p>
    	About
      <%=image_tag("teddy.JPG", alt: "Teddy")%>
    </p>
  </div>

    <div class="box col2">
	    <p>
	    	Github
	      <%=image_tag("coffee.JPG", alt: "Teddy")%>
	    </p>
	  </div>

    <div class="box col3">
	    <p>
	    	Photos
	      <%=image_tag("weird.JPG", alt: "Teddy")%>
	    </p>
	  </div>

  <div class="box col3">
    <p>
    	About
      <%=image_tag("nyc.JPG", alt: "Teddy")%>
    </p>
  </div>

</div>