<div id="masonry-container"  class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
  		<p>Posts</p>
     	<a href="posts"><%=image_tag("tunnel.JPG", alt: "Tunnel NYC")%></a>
  </div>

  <div class="box col3">
    <p>
    	Interests
    </p>
    	<a href=""><%=image_tag("dbctags.JPG", alt: "DBC Tags")%></a>
  </div>

  <div class="box col3">
    <p>
      Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.
    </p>
  </div>


  <div class="box col3">
    <p>
    	LinkedIn
    </p>
      <a href=""><%=image_tag("teddy.JPG", alt: "Teddy")%></a>
    </p>
  </div>

    <div class="box col3">
	    <p>
	    	Github
      </p>
	      <a href="https://github.com/Nztzlie"><%=image_tag("coffee.JPG", alt: "Malaysian Coffee")%></a>
	    </p>
	  </div>

    <div class="box col3">
	    <p>
	    	Photos
      </p>
	      <a href=""><%=image_tag("weird.JPG", alt: "When the going gets weird")%></a>
	    </p>
	  </div>

    <div class="box col3">
      <p>
        Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.
      </p>
    </div>

    <div class="box col3">
    <p>
      About
    </p>
      <a href=""><%=image_tag("ezoo.JPG", alt: "E Zoo")%></a>
    
  </div>

    <div class="box col3">
    <p>
      About
    </p>
      <a href=""><%=image_tag("joshuatree.JPG", alt: "Joshua Tree")%></a>
    
  </div>

    <div class="box col3">
    <p>About</p>
      <a href=""><%=image_tag("zombie.JPG", alt: "Zombie Art @ Artisphere")%></a>
   
  </div>

    <div class="box col3">
    <p>
      Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.

    </p>
  </div>


    <div class="box col3">
    <p>
      Pretty Things
    </p>
      <a href=""><%=image_tag("beach.JPG", alt: "Miami Beach")%></a>
    
  </div>

      <div class="box col3">
    <p>
      ThreeJS
    </p>
      <a href="threejs"><%=image_tag("dontgiveup.JPG", alt: "Lancaster Don't Give Up")%></a>
    
  </div>

</div>